html {
  height:100%;
  background-image: 
url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGLLixtaMSBKchUEl2NEOFZVJKOPG0kNYr4hnQDznTmdtMeYa1rA');
  background-size:cover;
}

#banner {
  padding-top: 22%;
  font-family:'Libre Barcode 39', cursive;
  font-size: 50px;
  display: flex;
  justify-content: center;
  color:#ec4758;
}

#heading {
  height: 100%;
  font-family: 'Amatic SC', cursive;
  display:flex;
  justify-content: space-around;
  color:#ffffff;
}

.navbar {
  display:flex;
  justify-content:space-around;
  background:white;
  position:fixed;
  top:0;
  left:0;
  width:100%; /*Full width*/
}
.navbar a {
  float:left;
  display: block;
  text-align:center;
  padding:1px 1px;
  text-decoration:none;
  color:#7289DA;
  font-family:'Indie Flower', cursive;
} 

.navbar, a:hover{
  color:black;
  background:#ffffff;
  
}

#about-content{
  display:flex;
  justify-content:spacearound;
  margin-top:22%;
  
}

img{
  border-radius:30%;
  border:solid 5px #9370DB;
}

.my-description{
  background:white;
  margin:3%;
  padding:4%;
  font-family:'Indie Flower', cursive;
  color:#40E0D0;
  border-radius:30%;
  
}

.project-container{
  margin-top:20%;
  display:flex;
  width:100%;
  height:100%;
  justify-content:space-between;
  
}

span{
  background:#ffffff;
  width:30%;
  height:60%;
  margin:2%;
  padding:2%;
  font-family:'Indie Flower', cursive;
  color:white;
  align-items:center;
}
.feature-container {
  padding-top:18%;
  color:#8a2be2;
  font-size:25px;
}

p {
  background:white;
  }

.color:hover{
 background:#FE1414;
border-radius:30%;
}
  
 border-radius:30%;
  transform: rotate(90deg);
  box-shadow: inset 0 0 0 25px #53a7ea;
}
